{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block author %}
        <div class="form-group">
        	<label for="task_user">Auteur de la tâche</label>
            <input type="text" class="form-control" id="task_user" name="task[user]" placeholder="{{ app.user ? app.user.username }} " disabled />
        </div>
    {% endblock %}
    <div class="form-group">
    	{{ form_label(form.title, 'Titre') }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content, 'Description') }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="text-center">
    	{% block button %}
    		<input type="submit" class="btn btn-success" value="Ajouter">
	    	<a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
	    {% endblock %}
	</div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}